body, ul, li,a {
 margin: 0;
 padding: 0;
 list-style: none;
 font-size: 14px;
}

@font-face {
 font-family: VOS;
 src: url("/font/accid___.eot") /* EOT file for IE */
}
@font-face {
 font-family: VOS;
 src: url("/font/accid___.ttf") /* TTF file for CSS3 browsers */
}
 
/*background image fill - http://css-tricks.com/perfect-full-page-background-image/ */

#bg {
  z-index: -1;
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

/*menu all (small)*/


.menu{
 background: transparent;
}
.menu a{
font-family: "VOS";font-size: 1.8em;
 display: block;
 text-decoration: none;
 color: #fff;
 background-color: black;
}
.menu li{
 position: relative;
}
.menu li ul{
 display: block;
 background: rgba(0, 0,0, 1.0);
 max-height: 0;
 overflow: hidden;
 transition: all 0.3s ease;
}
nav{
 transition: max-height 0.3s;
 overflow: hidden;
}
.menu-btn{
 background: #000000;
 text-align: right;
 cursor: s-resize;
}
.menu-btn img{
 vertical-align: middle;
 height: 50px;
}
.menu-open,
.menu .open > ul{
 max-height: 2000px;
}
.menu .open > .more img{
 transform: rotate(+90deg);
}
.more img{
 height: 24px;
 transition: transform 0.3s;
}
.more{
 background: rgba(0, 0, 0, 0.38);
position: absolute;
left: 28%;
 min-width: 10%;
 cursor: move;
}
/*..for products page.*/
.product-essential {background: transparent; padding-left:0;}
.product-view {border:none}
.product-name {display:none}
img#larget {width: 95%;
padding-left: 0.8em;}
.std-vos {margin-left : -5px; margin-top: 10px;line-height: 1.2em;font-size:0.94em}
#more-views {margin-left:-5px; margin-top: 10px;}
#textright {
width:188px;
float:right;
margin-right:1em;
text-align:justify;
}
#textleft {
width:189px;
float:left;
text-align:justify;
margin-left: 3px;


}
/*...*/
nav{
 max-height: 50px;
 transition: max-height 0.3s;
 overflow: hidden;
}
/*...*/ 

/* Main Page*/ /*Large Screens*/ /* no media query ***ROOT***/

.outer {width:100%;}
.inner { width:1000px; margin-left:auto;
margin-right:auto;}

.page-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	
}
.main-content {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    width: 60%;
}
.main-content-products {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    width: 60%;
}
.main-content img {}

.main-sidebar {
   
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    margin-top: -1.4em;
}
.main-sidebar-products {
   
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    margin-top: -1.4em;
}
.primary-content {display:block;margin: 0 auto;}
.primary-content img {width:100%;}
.prints {width:98%;   margin: 0 auto;
display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;}
.happy {width: 70px;flex: 1;max-width:33%;}

.grad {-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;}
.skull {-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;padding-top: 12%;padding-bottom: 12%;}
.not {-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}

.spine {width: 70px;flex: 1;max-width:33%;}

.prints-wrapper {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex ;}

.spacer {-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1; }
.one {-webkit-box-flex:9;-webkit-flex:9;-ms-flex:9;flex:9; background:white;}
.one img {width:100%}

.two {-webkit-box-flex:9;-webkit-flex:9;-ms-flex:9;flex:9; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;}
.two img { }

.three {-webkit-box-flex:9;-webkit-flex:9;-ms-flex:9;flex:9; background:white;}
.three img {width: 100%}

.alpha {-webkit-box-flex:9;-webkit-flex:9;-ms-flex:9;flex:9}
.alpha img {width:100%;}

.beta {-webkit-box-flex: 9;-webkit-flex: 9;-ms-flex: 9;flex: 9;}
.beta img {width:100%;}

.gamma {-webkit-box-flex:9;-webkit-flex:9;-ms-flex:9;flex:9;position: relative;}
.gamma img {width:100%;}

.secondary-container{vertical-align: top;display: inline-block;width: 39%;top:0;}
.secondary-logo  img{display: block;width:97%}

.secondary-text {display: block; margin-left:10px; font-family: "VOS";color: white;font-size: 1.65em; line-height: 0.9em; margin-top: -5px;width:90%;}
.secondary-text a{text-decoration:none;}
 
.products {width: 98%; margin: 0 auto;
display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
 }
 
.products img {padding-top:0.8em }

.column1 {width: 31%; padding-left:1px }
.column2 {width: 33%; padding-left: 2.25%; position:relative; }
.column3 {width: 31%; padding-left: 2.25%; }

.column-a {-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;padding-right: 0.4em;}
.column-b {-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;padding-left: 0.4em;}

.row-a {-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;padding-right: 0.4em;}
.row-b {-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;padding-left: 0.4em;}
.right-bottom-shirts img{width: 42%;padding-left: 0.8em;}
.bottom-left-caps img{width: 42%;padding-left: 0.8em;}
.posters-right-bottom img {width: 88%;padding-left: 0.8em;}
.shirts-cat {display: inline-block;}
.shirts-cat img {width: 22%;}
.std a {font-size: inherit;}
.blog-home {width: 98%; margin: 0 auto;}
.blog-menu {width:100%; height:100%; }
.blog-menu ul {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.blog-menu li{-webkit-box-flex:1;-webkit-flex:1 ;-ms-flex:1 ;flex:1 ;background: white; margin : 0.1em; list-style: none; text-align:center;}
.blog-menu a:link{color:black; text-decoration:none;}
.blog-menu a:visited{color:black; }
.page-title {display:none}
.post-list-item h2{display:none}
.post-meta {display:none}
.post-entry img.resize{
    width:200px; /* you can use % */
    height: auto;
}
.post-entry p{font-family: "VOS";color: black;font-size: 1.40em; line-height: 0.9em}
.post-entry p:nth-child(n+2){padding-left:0.5em;padding-bottom: 1em; width:96%}
.post-entry {background:white;}
.post-entry a{text-decoration:none;font-family: "VOS";color: grey;font-size: 1em;}
.limiter {display:none;}
.pages ol{display:inline-block}
.pages li {display:inline-block;padding-right:0.4em;}
.pages {text-decoration:none;font-family: "VOS";color: white;font-size: 1.20em; line-height: 0.9em}
.pages a:link{color:white}
.pages a:visited {color:white}
.current {text-decoration:none;font-family: "VOS";color: white;font-size: 1.20em; line-height: 0.9em}
.footer {width: 100%; padding: 1.5em;}
.footer a{font-size: 0.95em;font-family: "VOS";color: white; float:right; padding-right: 0.5em;opacity: 0.66;text-decoration:none }

.about-img img{width:100%}
#btn_buynow  {height:47px ;width:175px ;top: 47px}
.product-options-bottom {background: transparent; border:none;}
.add-to-cart label {color:#fff; font-weight:normal;}
.add-to-cart {float:left; }
.regular-price .price { /*colour of text in price box*/
  
  color:black;
  font-family: VOS, Verdana, Arial, Helvetica ;
  font-size:16px;
  letter-spacing:1.0px;
  font-weight: normal !important;

}

.price { /* box behind price*/
  background-color:#FFFFFF;
  /*width: 2.9em;
  height:2.9em;*/
  
}

.price-box{
	float: right !important; }
	
.lrbox {
  height:auto;
  overflow:hidden;
  width:400px !important; 
  margin-top: 0.8em;
}

.product-view .product-shop {
  float:left;
  width:330px;
}
.product-essential {
background: none;		
}



.product-options-bottom {
  background-color:transparent;
  border-bottom-color:#E4E4E4;
  border-bottom-style:none;
  border-left-color:#E4E4E4;
  border-left-style:none;
  border-right-color:#E4E4E4;
  border-right-style:none;
  border-width:0 1px 1px;
  padding:5px 0px;
}

.regular-price .price { /*colour of text in price box*/
  
  color:black;
  font-family: VOS, Verdana, Arial, Helvetica ;
  font-size:16px;
  letter-spacing:1.0px;
  font-weight: normal !important;

}

.price { /* box behind price*/
  background-color:#FFFFFF;
  /*width: 2.9em;
  height:2.9em;*/
  
}

.price-box{
	float: right !important;
	
}

.add-to-cart {
	position: absolute;
	top: 545px;
}
.add-to-cart label {
  color:#FFFFFF;
  
}
#productinfo{
	top: 200px;
	
}
.box-description{ /*HEIGHT OF DESCRIPTION BOX*/
		height:100px;
		width: 392px;
	
	
}
.highslide-container {
margin-top: -4px!important; 
}
.style5 {font-size:0.8em}
.sendtofriend {margin-top: -2.5em;}
input#qty {
width: 20px;
margin-top: -18px;
margin-left: 5px;
height: 14px;
}
#img_nxt {top: 595px!important;width: 180px;}
.data-table .odd  {background:white; } /*background of cart table*/
.data-table thead th {  color:black;} /*background of table heading and text colour of header*/
	
	/*media queries for team*/
	.copy h3 {margin-top: 0.2em; margin-bottom:0em;}
	  .copy  p{margin-top:0.2em; margin-bottom:0.5em;}

.image img {width: 100%;
  height: auto; }	
	
	@media (min-width: 1024px) {
  .container {
    width: 980px;
    margin: 0 auto;
	padding-top: 9em;
  }
  .container:after {
    content: "";
    clear: both;
    width: 100%;
  }

  .col4 {
    width: 299px;
    float: left;
    margin: 0 12px;

  }

  .image {
    text-align: center;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .container {
    width: 96%;
    margin: 0 2%;
  }

  .col4 {
    clear: both;
    padding: 20px 0;
    
  }
  .col4:after {
    content: "";
    clear: both;
    width: 100%;
  }

  .image {
    float: left;
    width: 40%;
  }

  .copy {
    float: right;
    width: 56%;
  }
  .copy h3 { margin-top: 0em; margin-bottom:0.2em;}
  .copy  p{margin-top:0.2em; margin-bottom:0em;}
}
@media (max-width: 599px) {
  .container {
   /*intentionally empty*/
  }

  .col4 {
    padding: 10px 0;
   
  }

  .image, .copy {
    text-align: left;
  }
  .copy h3 { margin-top: 0.2em; margin-bottom:0.2em;}
  .copy  p{margin-top:0.2em; margin-bottom:0em;}
}
	

	/*end media queries for team*/
@media screen and (max-width: 65em) { /* point at which hamburger menu comes in*/
	.inner {width: 100%; }
	.secondary-logo {position: absolute;top: 0;padding-left: 10px;padding-top:12px; display: block;}
	.secondary-logo img {width: inherit;}
	.secondary-text {font-size: 1.4em;width: 90%;font-size: 1.6em;margin: 0 auto; padding-bottom: 0.5em; padding-top:0em;}
    .page-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
		/*padding-top: 1em*/
		width:100%;
		
    }
	
    .main-content {
       padding-top: 3em;
        width: 98%;
		margin: 0 auto;
    }
    .main-sidebar {
         
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;  
        width: 100%;
		margin-top: 0px;
    }
	 .main-content-products {
       padding-top: 3em;
        width: 89%;
		margin: 0 auto;
		-webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2; 
    }
    .main-sidebar-products {
         
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;  
        width: 100%;
		margin-top: 0px;
    }
    .main-nav {
        width: 100%;
    }
	
	.shirts-cat img {width: 48%;}

.logotitle img{width:99%}

ul.menu {background: black;}
li.menu-item.open {background: black; }
li.menu-item a {padding-left:0.75em}

/*.menu a {background: grey;}*/
/*li.menu-item a:nth-child(even) {background: black;}*/
.sub {margin-left: 1em; } 
li.cart-button {padding-left:1.0em}
li.vos-social-buttons {display:inline-block;padding-left:0.75em}
.right-bottom-shirts {display: none}
.bottom-left-caps {display:none}
.posters-right-bottom {display:none}
.product-shop {height: 14em; float:none!important; width: 100%!important}
#textleft {width: 100%;}
#textright {margin-right: -0.6em;}
.lrbox {margin-top: 0.6em;width:100%!important;}
.footer {width:100%; padding: 0;}
#btn_buynow  {height:47px ;width:175px ;top: 71px}
.add-to-cart {top: 287px!important;}
#img_nxt {top: 363px!important;width: 8em}
.box-description {width: 100%;height: 72px;}
img#larget {width: 100%;padding-left: 0;}
.sendtofriend {margin-top: -3.5em;}
.highslide {display: inline}
.highslide img {}		
}

@media screen and (max-width: 65em) {
.inner {width:100%; margin-left:auto;
margin-right:auto;}
}
@media screen and (max-width: 36em) { /*Media Query CONTENT for Small Screens*/
    
	
}



/* wide menu*/
@media all and (min-width: 65em){

nav{
 max-height: 100%;
 overflow: visible;
}
.menu {padding-left:0.5em;}
.menu-item {width: 7em; text-align:left;}
.menu-item:nth-child(6) {margin-right:-1.5em}
.vos-social-buttons {width: 25px;padding-top:5px; opacity: 0.8;}
.vos-social-buttons :hover {background-color: transparent!important;}
.cart-button {float:right;padding-right: 35px;padding-top:5px;}
.cart-button  a {text-align:right;}
.social {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.more img {display:none}

.menu-btn{
 display: none;
}
.menu{
  min-height:70px;
}
.menu a{
font-size: 1.6em;
line-height: 0.9em;
 background:  transparent;
}
.menu ul li a {min-width:3.6em; text-align: left;  font-size:1.2em; }
.menu ul li a:hover {background: black; color: white; min-width: 3.6em;  font-size:1.2em;}

.menu a:hover{
 color: black;
}
.menu > li{
 display: inline-block;
}
.menu li ul{
 left: -9999px;
 position:absolute;
 overflow: visible;
 -webkit-transition: all 0.0s ease;
}
.menu > li > ul ul{
 top: 0;
}
.menu li:hover > ul{
 left:100%;
}
.menu > li:hover > ul{
 left: 0;
}
.menu .open > ul{
left:100%; 
}
.menu > li.open > ul{

 left: 0;
}
}